
:root {
    --buttonBackground: #8798b1;
    --buttonBackgroundHover: #a1cbd6;
    --buttonTextColor: white;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-content:normal;
    background-color: #B6BDC7;
    color: black;
    padding: 10px 70px;
    font-size: 1.5rem;
    
}

body {
    background-image: url(../images/pexels-lumn-316466.jpg);
    background-size: cover;
    background-position: center;

}

body:before {
    opacity: 20%;
}

.start-screen {
   text-align: center;
   padding: 100px 100px;
   font-size: 2rem;
}

.start-screen p {
    padding: 0px 120px;
}

.start-screen button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    border-color: #4c5b70;
    font-size: 1.8rem;
    background: var(--buttonBackground);
    color: var(--buttonTextColor);

}

.start-screen button:hover {
    background:var(--buttonBackgroundHover);
}

#content {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
   
}

.choice {
    margin: 10px 10px; 
    padding: 10px 10px; 
    width: 20%;
}

.choice button:hover {
    background:var(--buttonBackgroundHover);

}

.hide {
    display: none;
}